 # Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- few examples of evaluating arithmetic expressions in Python
- Data Science Tools

### Some of the popular languages that Data Scientists use are:
 1. R
 2. python
 3. java
 4. julia

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. sci-kit learn
4. matplotlib
5. plotly

| Data Science Tools |
------------------------------
| RStudio.|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200 // 60

3

## Author  
Ankit chimariya.